.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../images/bg/bg_head.jpg) center (center/cover) no-repeat;

    &__wrapper {
        padding-top: 91px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__header {
        color: #ffffff;
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 42px;
    }

    &__subheader {
        color: #ffffff;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 24px;
        margin-top: 9px;
    }

    &__icons {
        display: flex;
        margin-top: 58px;
        width: 432px;
        justify-content: space-between;
    }

    &__icon {
        width: 108px;
        text-align: center;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;

        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }

    }

    &__link {
        margin-top: 18px;
        color: #ffffff;

        a {
            color: #ffffff;
            font-size: 16px;
            font-weight: 500;
            text-decoration: underline;
            margin-left: 4px;
            &:hover{
                text-decoration: none;
                color: #c70101;
            }
        }
    }
}