*{
    font-family: 'Museo Sans Cyrl',sans-serif ;
}
.container{
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}
@import 'promo';
@import 'header';
@import 'buttons';
@import 'main';
@import 'media';
@import 'head';
@import 'consultation';
@import 'forms';
@import 'carousel';
@import 'catalog';
@import 'review';